body {
    background-color: rgb(8, 6, 30);
    color: white;
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 2rem;
}