body {
    background-color: rgb(8, 6, 30);
    color: white;
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.search-bar-wrapper {
    display: flex;
    justify-content: center; align-items: center;
    margin: 1.5rem 0;
}

.search-input {
    font-size: 1.5rem;
    padding: .3rem;
    outline: none;
    background-color: black;
    color: white;
    border: none;
}

.search-input:focus {
    border: 1px gray solid;
}

.search-btn {
    margin-left: 1rem;
    font-size: 1.4rem;
    border: none;
    background-color: rgb(1, 1, 107);
    color: white;
    padding: .5rem 1rem;
    border-radius: .2rem;
    cursor: pointer;
}


/* MEDIA QUERIES */
@media (max-width: 1000px) {
    .movie-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1.5rem;
        padding: 2rem;
    }
}

@media (max-width: 1340px) {
    .movie-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1.5rem;
        padding: 2rem;
    }
}